@import './common/util.scss';
@import 'table.scss';
@import 'node.scss';
@import 'line.scss';
@import 'anchor.scss';
@import 'button.scss';
@import 'toggler.scss';
@import 'popup.scss';
@import 'tooltip.scss';

.tfgraph {
  position: relative;
  user-select: none;
  width: 100%;
  .hidden {
    display: none;
  }
  .tfgraph-anchor-layer {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .tfgraph-line-layer {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.edit {
  .tfgraph-line {
    cursor: pointer;
  }
}

.tfgraph-toolbar {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}