.tfgraph-toolbar-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  cursor: not-allowed;
}

.tfgraph-toolbar-hint {
  flex: 1;
  text-align: center;
  padding: 0 30px;
  font-size: 12px;
  color: $color-gray-66;
  line-height: 16px;
  position: relative;
  z-index: 20;
}