.tfgraph-button {
  white-space: nowrap;
  border-radius: 4px;
  height: $control-height;
  padding: 0 15px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  transition: all ease 0.2s;
  font-size: 14px;
  box-sizing: border-box;
  .tfgraph-icon {
    fill: white;
    transition: all ease 0.2s;
  }
  &.round {
    border-radius: 0.5 * $control-height;
  }
  &.sm {
    border-radius: 3px;
    padding: 0 10px;
    font-size: 12px;
    height: $control-height-sm;
    &.round {
      border-radius: 0.5 * $control-height-sm;
    }
  }
  &.disabled {
    opacity: 0.5;
    filter: grayscale(80%);
    cursor: not-allowed;
  }
  &.default {
    background-color: $color-white;
    color: $font-color-title;
    border-color: $color-border-dark;
    .tfgraph-icon {
      fill: $font-color-title;
    }
    &:hover {
      color: $color-theme;
      border-color: $color-theme;

      .tfgraph-icon {
        fill: $color-theme;
      }
    }
  }
  &.clean {
    border: none;
    color: $font-color-title;
    background-color: transparent;
    .tfgraph-icon {
      fill: $font-color-title;
    }
    &:hover {
      .tfgraph-icon {
        fill: $color-theme;
      }
      color: $color-theme;
      background-color: $color-gray-f2;
    }
  }
  &.primary {
    background-color: $color-theme;
    color: $color-white;
    border-color: $color-theme;
    &:hover {
      background-color: mix($color-white, $color-theme, 15%);
    }
  }
  &.warning {
    background-color: $color-warning;
    color: $color-white;
    border-color: $color-warning;
    &:hover {
      background-color: mix($color-white, $color-warning, 15%);
    }
  }
  &.danger {
    background-color: $color-danger;
    color: $color-white;
    border-color: $color-danger;
    &:hover {
      background-color: mix($color-white, $color-danger, 15%);
    }
  }
  &.success {
    background-color: $color-success;
    color: $color-white;
    border-color: $color-success;
    &:hover {
      background-color: mix($color-white, $color-success, 15%);
    }
  }
}
