.tfgraph-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tfgraph-dialog-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .tfgraph-dialog-box {
    position: relative;
    z-index: 2;
    width: auto;
    height: auto;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    .tfgraph-dialog-bar {
      height: 44px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .tfgraph-dialog-bar-title {
        font-size: 15px;
        padding-left: 15px;
        color: $font-color-title;
        font-weight: bold;
      }
      .tfgraph-dialog-bar-btn {
        padding: 5px 13px;
        cursor: pointer;
        svg {
          fill: $font-color-assist;
        }
        &:hover {
          svg {
            fill: $color-theme;
          }
        }
      }
    }
  }
}