html,
body {
  @apply text-size-base font-main text-black m-0 p-0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* normalize */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/* make the customizations */
// $theme-colors: (
//   "info": tomato,
//   "danger": teal
// );

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

